{% load socialaccount %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    {% comment %} <div class="container-fluid"> {% endcomment %}
        <a class="navbar-brand ms-2" href="#">Django Basic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        </button>
        <div class="navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav col">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">페이지추가?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">임시~~</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto justify-content-end">
                {% if user.is_authenticated %}
                    {% if user.is_superuser or user.is_staff %}
                        <a class="btn btn-info" href="/ad/" role="button"><i class="fas fa-pen"></i>관리자 전용</a>
                    {% endif %}
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if user.socialaccount_set.all.0.get_avatar_url %}
                        {% comment %} 대체품 {{user.username}} {% endcomment %}
                            <img class="rounded-circle" width="25px" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                        {% else %}
                            <img class="rounded-circle" width="25px" src="https://doitdjango.com/avatar/id/1242/69e8e839d856a4f9/svg/{{ user.id }}">
                        {% endif %}
                        &nbsp;
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/accounts/logout/">Log Out</a>
                    </div>
                </li>
            </ul>
                {% else %}
            
                {% comment %} <div class="d-grid justify-content-end">
      <button class="btn btn-primary me-md-2" 로 아래 Log in 우측 고정{% endcomment %}
                {% comment %} <div class="d-grid justify-content-end"> {% endcomment %}
                    <button class="btn">
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">Log In</a>
                        </li>
                    </button>
                {% comment %} </div> {% endcomment %}
                {% endif %}
            </ul>
        </div>
    {% comment %} </div> {% endcomment %}
</nav>

{% comment %} Modal {% endcomment %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="logInModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"> <i class="fas fa-sign-in-alt"></i>&nbsp Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 row ms-1">
                        {% comment %} <a role="button" class="btn btn-outline-dark btn-block btn-sm mb-3" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i>&nbsp&nbsp Log in with Google</a> {% endcomment %}
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm mb-5" href="/accounts/login/"><i class="far fa-envelope"></i>&nbsp&nbsp Log in with Username</a>
                    </div>
                    <div class="col-md-6 row ms-1">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm mb-5" href="/accounts/signup/"><i class="far fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>